# 忽略各个项目的build文件夹
# code_EXIT项目
/code_EXIT/build/ 
/simple_Code1/build/
/code_Uart_Echo/build/
/code_SysTimer/build/
/code_CAN_Comm/build/
/code_I2C_XL9555/build/
/code_i2c_eeprom/build/
/code_ESP_NOW_Comm/build/
/code_arduino01/build/
/code_micro_ros/build/
